<div class="container-fluid px-4">
    <h1 class="mt-4">Dashboard</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Editing User</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user me-1"></i>
            Edit <%= @user['name']%> Profile
        </div>
        <div class="card-body">
            <% if session[:success] %>
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong><%= session[:success] %></strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <% session[:success] = nil %>
            <% end %>
            <form action="/edit_user/<%= @user['user_id']%>" method="POST" enctype="multipart/form-data" >
                <div class="mb-3">
                    <label for="name" class="form-label">Name</label>
                    <input type="text" class="form-control" id="name" name="name" value="<%= @user['name'] %>" >
                    <% if @errors.any? { |e| e.include?('Name') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Name')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="username" class="form-label">Username</label>
                    <input type="text" class="form-control" id="username" name="username" value="<%= @user['username'] %>" >
                    <% if @errors.any? { |e| e.include?('Username') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Username')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" name="email" value="<%= @user['email'] %>" >
                    <% if @errors.any? { |e| e.include?('Email') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Email')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="birthdate" class="form-label">Birthdate</label>
                    <input type="date" class="form-control" name="birthdate" id="birthdate" value="<%= @user['birthdate'] %>" >
                    <% if @errors.any? { |e| e.include?('Birthdate') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Birthdate')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="address" class="form-label">Address</label>
                    <textarea name="address" id="address" class="form-control"><%= @user['address'] %></textarea>
                    <% if @errors.any? { |e| e.include?('Address') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Address')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="phone" class="form-label">Phone</label>
                    <input type="number" class="form-control" name="phone" id="phone" value="<%= @user['phone'] %>">
                    <% if @errors.any? { |e| e.include?('Phone') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Phone')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="photo" class="form-label">Photo</label>
                    <br>
                    <% if @user['photo'] %>
                        <img class="img-thumbnail mb-2" src="/uploads/users/<%= @user['photo'] %>" alt="<%= @user['name'] %>" style="max-width: 200px">
                    <% end %>
                    <input type="file" class="form-control" id="photo" name="photo">
                    <% if @errors.any? { |e| e.include?('Photo') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Photo')}%>
                        </div>
                    <% end %>
                </div>
                <div class="mb-3">
                    <label for="access" class="form-label">Access</label>
                    <select id="access" class="form-select" name="access">
                        <option selected value="<%= @user['access'] %>"><%= @user['access'] %></option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                    </select>
                    <% if @errors.any? { |e| e.include?('Access') } %>
                        <div class="form-text text-danger">
                            <%= @errors.find { |e| e.include?('Access')}%>
                        </div>
                    <% end %>
                </div>
                <button type="submit" class="btn btn-primary float-end">Submit</button>
                <a class="btn btn-outline-secondary float-start" href="/admin"><i class="fa-solid fa-arrow-left"></i> Back</a>
            </form>
        </div>
    </div>
</div>