<%= erb :"layouts/seller/seller_panel/header" %>
<%= erb :"layouts/seller/seller_panel/navbar" %>
<%= erb :"layouts/seller/seller_panel/sidebar" %>

<div id="layoutSidenav_content">
    <main>
        <%= yield %>
    </main>
    <%= erb :"layouts/seller/seller_panel/footer" %>
</div>