<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-12">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <% if @item['item_photo'] && !@item['item_photo'].empty? %>
                            <img src="/uploads/items/<%= @item['item_photo'] %>" class="img-fluid rounded-start" alt="<%= @item['item_name'] %>">
                        <% else %>
                            <img src="/img/question.png" class="img-fluid" alt="Default Item">
                        <% end %>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <%= @item['item_name'] %>
                                    </p>   
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Brand:</strong> <%= @item['item_brand'] %>
                                    </p>   
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <%= @item['item_description'] %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Price:</strong> <%= rupiah_currency(@item['item_price']) %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Stock:</strong> <%= @item['item_stock'] %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Category:</strong> <%= @item['item_category'] %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="catd-text">
                                        <strong>Unit:</strong> <%= @item['item_unit'] %>
                                    </p>
                                </li>
                                <a href="/" class="btn btn-primary">Back</a>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>