<div class="container mt-5">
    <div class="row mb-3">
        <div class="col-12 col-md-9">
            <div class="card mb-3">
                <div class="row g-0">
                    <div class="col-md-6">
                        <% if @item['item_photo'] && !@item['item_photo'].empty? %>
                            <img src="/uploads/items/<%= @item['item_photo'] %>" class="img-fluid rounded-start" alt="<%= @item['item_name'] %>">
                        <% else %>
                            <img src="/img/question.png" class="img-fluid rounded-start" alt="Default Item">
                        <% end %>
                    </div>
                    <div class="col-md-6">
                        <div class="card-body">
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <h4><b><%= @item['item_name'] %></b></h4>    
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <%= @item['item_description'] %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Price:</strong> <%= rupiah_currency(@item['item_price']) %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Stock:</strong> <%= @item['item_stock'] %>
                                    </p>   
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Category:</strong> <%= @item['item_category'] %>
                                    </p>
                                </li>
                                <li class="list-group-item">
                                    <p class="card-text">
                                        <strong>Unit:</strong> <%= @item['item_unit'] %>
                                    </p>
                                </li>
                                <% if current_user['access'].to_i == 1 %>
                                    <a href="/account" class="btn btn-primary float-start">Back</a>
                                <% elsif current_user['access'].to_i ==2 %>
                                    <a href="/seller" class="btn btn-primary float-start">Back</a>
                                <% end %>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3">
            <div class="card">
                <div class="card-body">
                    <p><b>Atur Jumlah dan Catatan</b></p>
                </div>
            </div>
        </div>
    </div>
</div>