<link rel="stylesheet" href="/css/style.css">

<div class="container mt-5">
    <h3>My Wishlists</h3>
    <div class="row">
        <% if @wishlists.empty? %>
            <p>You have no items in your wishlist yet.</p>
        <% else %>
            <% @wishlists.each do |w| %>
                <div class="col-md-3 md-4">
                    <div class="card">
                        <% if w['item_photo'] && !w['item_photo'].empty? %>
                            <img src="/uploads/items/<%= w['item_photo'] %>" class="card-img-top" alt="<%= w['item_name'] %>">
                        <% else %>
                            <img src="/img/question.png" class="card-img-top" alt="No image">
                        <% end %>
                        <div class="card-body">
                            <h6 class="card-title">
                                <%= w['item_name'] %>
                            </h6>
                            <p><%= rupiah_currency(w['item_price']) %></p>
                            <p>
                                <small><%= w['store_name'] %></small>
                            </p>
                        </div>
                        <div class="d-flex justify-content-between">
                            <button type="button" class="btn btn-outline-secondary float-left" data-bs-toggle="modal" data-bs-target="#deleteAwishlist<%= w['item_id'] %>">
                                <img src="/img/icons/trash.svg" alt="Trash">
                            </button>
                            <a href="/view_detail_item/<%= w['item_id'] %>" class="btn btn-danger float-right">Detail</a>
                        </div>
                    </div>
                    <!-- Modal -->
                    <div class="modal fade" id="deleteAwishlist<%= w['item_id'] %>" tabindex="-1" aria-labelledby="deleteWishlist<%= w['item_id'] %>" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5" id="deleteWishlist<%= w['item_id'] %>">
                                        Confirm Deletion
                                    </h1>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    Are you sure want to delete this wishlist ?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                    <form action="/delete_my_wishlist/<%= w['item_id'] %>">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </form>                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        <% end %>
    </div>
</div>