<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    
    <!-- Navbar Brand-->
    <% if current_user['access'].to_i == 3 %>
      <a class="navbar-brand ps-3" href="/admin_view_profile/<%= current_user['user_id'] %>"><%= current_user['username'] %></a>
    <% elsif current_user['access'].to_i == 2 %>
      <a class="navbar-brand ps-3" href="/view_seller/<%= current_user['user_id'] %>"><%= current_user['username'] %></a>
    <% end %>

    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar Search-->
    <form class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
        <div class="input-group">
            <input class="form-control" type="text" placeholder="Search for..." aria-label="Search for..." aria-describedby="btnNavbarSearch" />
            <button class="btn btn-primary" id="btnNavbarSearch" type="button"><i class="fas fa-search"></i></button>
        </div>
    </form>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <% if current_user['access'].to_i == 3 %>
                <li><a class="dropdown-item" href="/admin_view_profile/<%= current_user['user_id'] %>">Settings</a></li>
              <% elsif current_user['access'].to_i == 2 %>
                <li>
                  <a class="dropdown-item" href="/view_seller/<%= current_user['user_id'] %>">Seller Profile</a>
                </li>
                <li>
                  <% store = DB.get_first_row("SELECT * FROM stores WHERE seller_id = (SELECT seller_id FROM sellers WHERE user_id = ?)", [current_user['user_id']]) %>
                  <% if store %>
                    <a class="dropdown-item" href="/store_bio/<%= store['store_id'] %>">Store Profile</a>
                  <% else %>
                    <a class="dropdown-item disabled" href="#"></a>
                  <% end %>
                </li>
              <% end %>
                <li><a class="dropdown-item" href="#">Activity Log</a></li>
                <li><hr class="dropdown-divider"/></li>
                <li>
                  <button class="dropdown-item" data-bs-toggle="modal" data-bs-target="#Logout">Logout</button>
                </li>
            </ul>
        </li>
    </ul>
</nav>

<!-- Modal -->
<div class="modal fade" id="Logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Ready to Leave ?</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <% if current_user['access'].to_i == 3 %>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your current session. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/logout" class="btn btn-danger">
            Logout
          </a>
        </div>
      <% elsif current_user['access'].to_i == 2 %>
        <div class="modal-body">
          Select "Logout" below if you are ready to end your session as a seller. 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <a href="/account" class="btn btn-danger">
            Logout
          </a>
        </div>
      <% end %>
    </div>
  </div>
</div>

<div id="layoutSidenav">