<div id="layoutSidenav_nav">
    <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
        <div class="sb-sidenav-menu">
            <div class="nav">
                <div class="sb-sidenav-menu-heading">Core</div>
                <% if current_user['access'].to_i == 3 %>
                    <a class="nav-link" href="/admin">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                <% elsif current_user['access'].to_i == 2 %>    
                    <a class="nav-link" href="/seller_dashboard/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                <% end %>
                <div class="sb-sidenav-menu-heading">Lists</div>
                <% if current_user['access'].to_i == 3 %>
                    <a class="nav-link" href="/user_lists">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-users"></i></div>
                        User Lists
                    </a>
                    <a class="nav-link" href="/seller_lists">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-user-tie"></i></div>
                        Seller Lists
                    </a>
                    <a class="nav-link" href="/store_lists">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-store"></i></div>
                        Store Lists
                    </a>
                    <a class="nav-link" href="/seller_item_lists">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-warehouse"></i></div>
                        Seller Item Lists
                    </a>

                    <a class="nav-link" href="/service_lists">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-truck"></i></div>
                        Delivery
                    </a>

                <% elsif current_user['access'].to_i == 2 %>
                    <a class="nav-link" href="/item_lists/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fas fa-store"></i></div>
                        Item Lists
                    </a>
                    <a class="nav-link" href="/goods_delivery/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fas fa-truck"></i></div>
                        Available Delivery  
                    </a>
                    <a class="nav-link" href="/users_wishlist/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-heart"></i></div>
                        User Wishlists &nbsp;
                        <% wishlist_count = get_seller_wishlist_users(session[:user_id]).count %>
                        <% if wishlist_count > 0 %>
                            <span class="badge bg-danger">
                                <%= format_count_badge(wishlist_count) %>
                            </span>
                        <% end %>
                    </a>
                    <a class="nav-link" href="/user_basket_lists/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-sitemap"></i></div>
                        User Basket Lists &nbsp;
                        <% basket_count = get_seller_basket_users(session[:user_id]).count %>
                        <% if basket_count > 0 %>
                            <span class="badge bg-danger">
                                <%= format_count_badge(basket_count) %>
                            </span>
                        <% end %>
                    </a>
                    <a class="nav-link" href="/user_transaction_lists/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fa-solid fa-sitemap"></i></div>
                        User Transactions &nbsp;
                        <% transaction_count = get_seller_transactions(session[:user_id]).count %>
                        <% if transaction_count > 0 %>
                            <span class="badge bg-danger">
                                <%= format_count_badge(transaction_count) %>
                            </span>
                        <% end %>
                    </a>

                    <a class="nav-link" href="/seller_chat/<%= current_user['user_id'] %>">
                        <div class="sb-nav-link-icon"><i class="fas fa-message"></i></div>
                        User Chats
                    </a>
                <% end %>
            </div>
        </div>
    </nav>
</div>