<div class="container-fluid px-4">
    <h1 class="mt-4">Store Profile</h1>
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item"><a href="/seller_dashboard/<%= current_user['user_id'] %>">Dashboard</a></li>
        <li class="breadcrumb-item active">Store Bio</li>
    </ol>
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-user me-1"></i>
            View <%= @store['store_name'] %> Store
        </div>
        <div class="card-body">
            <div class="mb-3 row">
                <label for="name" class="col-sm-2 col-form-label">Owner Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="name" value="<%= @store['owner_name'] %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="store_name" class="col-sm-2 col-form-label">Store Name</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="store_name" value="<%= @store['store_name'] %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="store_address" class="col-sm-2 col-form-label">Store Address</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="store_address" value="<%= @store['store_address'] %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="store_status" class="col-sm-2 col-form-label">Store Status</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="store_status" value="<%= @store['store_status'] %>">
                </div>
            </div>
            <div class="mb-3 row">
                <label for="cs_number" class="col-sm-2 col-form-label">Customer Service Number</label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" id="cs_number" value="<%= @store['cs_number']%>">
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label">Store Photo</label>
                <div class="col-sm-10">
                    <% if @store['store_photo'] && !@store['store_photo'].empty? %>
                        <img src="/uploads/stores/<%= @store['store_photo'] %>" style="max-width: 200px" alt="Store Photo">
                    <% else %>
                        <span class="text-muted">No store banner available</span>
                    <% end %>
                </div>
            </div>
            <div class="mb-3 row">
                <label class="col-sm-2 col-form-label" for="photo">Store Banner</label>
                <div class="col-sm-10">
                    <% if @store['store_banner'] && !@store['store_banner'].empty? %>
                        <img src="/uploads/stores/<%= @store['store_banner'] %>" style="max-width: 200px" alt="Store Banner">
                    <% else %>
                        <span class="text-muted">No store banner available</span>
                    <% end %>
                </div>
            </div>
            <!-- Back Button -->
            <a class="btn btn-outline-primary float-end" href="/edit_my_store/<%= @store['store_id'] %>">Edit Store</a>
            <!-- Back Button -->
            <a class="btn btn-outline-secondary float-start" href="/seller_dashboard/<%= @store['store_id']%>"><img src="/uploads/items/arrow-left-circle.svg" width="30px"/> Back</a>
        </div>
    </div>
</div>